header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
}
.logo:active{
    border-style: dotted;
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight:bold;
    margin-right: 60px;
}
.navigation a{
    text-decoration: none;
    color: black;
    margin: 15px;
    padding: 15px;
}
.depart:hover{
    border-radius: 50px;
    background-color: black;
    color: white;
    border-width: 100px;
    transform: scale();
}
.User{
    background-color: white;
}
.User:hover{
    background-color: #ebe8e8;
}